html {
    /*font-size: 12px;*/
    font-family: Helvetica;
}

:root {
    --scale-ratio: 0;
    --translateY: 0px;
    --padding: 1.5rem;
}

body {
    background: #e1e2e3;
    padding: var(--padding);
}

body.active {
    background: #fff;
    /*overflow: hidden;*/
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    /*width: 90%;*/
    margin-bottom: var(--padding);
    /*overflow: auto;*/
}

.head {
    transition: .3s all cubic-bezier(0, 1, 0.95, 1.05);
    box-shadow: 0 .2rem 2rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    background: #fff;
}

li img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

li h4 {
    padding: .8rem var(--padding);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    letter-spacing: -0.5px;
    font-size: 1.3rem;
    font-weight: bold;
}

li .content {
    line-height: 1.5rem;
    height: 0;
    overflow: auto;
}

li.active {
    background: #fff;
}

li.active .head {
    transform: translateY(var(--translateY)) scale(var(--scale-ratio));
    transform-origin: 50% 0;
    border-radius: 0;
    box-shadow: none;
}

li.active img {
    height: auto;
    border-radius: 0;
}

li.active h4 {
    border-radius: 0;
}

li.active .content {
    /*height: 300px;*/
    height: auto;
    padding: 1rem 0;
}